<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Бин для меча -->
    <bean id="sword" class="com.example.demo.Sword" />

    <!-- Бин для отображателя меча -->
    <bean id="swordDisplay" class="com.example.demo.WeaponDisplay">
        <constructor-arg ref="sword" />
    </bean>

    <!-- Бин для огнестрельного оружия -->
    <bean id="gun" class="com.example.demo.Gun" />

    <!-- Бин для отображателя огнестрельного оружия -->
    <bean id="gunDisplay" class="com.example.demo.WeaponDisplay">
        <constructor-arg ref="gun" />
    </bean>

    <!-- Бин для лука -->
    <bean id="bow" class="com.example.demo.Bow" />

    <!-- Бин для отображателя лука -->
    <bean id="bowDisplay" class="com.example.demo.WeaponDisplay">
        <constructor-arg ref="bow" />
    </bean>

</beans>