<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список оружия</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Список оружия</h1>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
<table>
    <thead>
    <tr>
        <th>Тип</th>
        <th>Урон</th>
        <th>Материал</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="weapon : ${weapons}">
        <td><a th:href="@{/weapon(type=${weapon.type})}" th:text="${weapon.type}"></a></td>
        <td th:text="${weapon.damage}"></td>
        <td th:text="${weapon.material}"></td>
        <td>
            <a th:href="@{/edit-weapon(type=${weapon.type})}" style="display: inline-block; background-color: #FFC107; color: black; padding: 8px 16px; text-decoration: none; border-radius: 5px;">Редактировать</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/add-weapon" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Добавить оружие</a>
<a href="/fight-form" style="display: inline-block; background-color: #2196F3; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Бой</a>
</body>
</html>